body{
  padding: 10px;
  background-color:powderblue;
}

p {
  padding: 10px;
  border: solid;
  border-color: blue;
  margin: 5px;

}

.cdigito{
  padding: 10px;
  border: solid;
  border-color: blue;
  margin: 5px;

}
.operaciones{
  padding: 10px;
  border: solid;
  border-color: blue;
  margin: 5px;

}

#igual{
  padding: 10px;
  border: solid;
  border-color: blue;
  margin: 5px;

}

#clear{
  padding: 10px;
  border: solid;
  border-color: blue;
  margin: 5px;

}

#clear{
  padding: 10px;
  border: solid;
  border-color: blue;
  margin: 5px;

}
