#imagesrc {
  display:none;
}

.boton{
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}


.mystyle{
 display: none;
}


.mystyle2{
  display: inline;
}
