/* Fondo de la página */
body {
  background-color: black;
}

/* Estilo para el canvas: Negro */
#canvas {
  background-color: black;
  margin-left: 315px;
}

#letras{
  color: white;
  text-align: center;
}
#titulo{
  color: white;
  text-align: center;
  font-size: 100px;
}
