/* Fondo de la página */
body {
  background-color: black;
}

/* Estilo para el canvas: Negro */
#canvas {
  background-color: black;
  padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
}

#letras{
  color: white;
  text-align: center;
}
#titulo{
  color: white;
  text-align: center;
  font-size: 100px;
}
