body{
    background-color:  #ffccff;
}

.boton{
  margin: 40px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #00ff00;
  border-radius: 6px;
  border: 2px solid #00cc00;
}

.mystyle{
  border-color: red;
  border-style: solid;
}

.botones{
  display: none;
}
